body{
    height: 100vh;
    overflow: hidden;
}

.list-group-item{
    height: 60px;
}

#body{
    height: 100vh;
    overflow-y: scroll
}

#main-content{
    min-height: 80vh;
}

.list-group-item-action:hover{
    z-index: unset;
}


p, span, tr, td, h1, h2, h3, h4{
    caret-color: transparent
}

#sidebar .list-group-item:hover{
    cursor: pointer;
}